*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.945);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.container_calculadora{
    position: absolute;
    background-color: hsla(240, 20%, 1%, 0.705);
    width: auto;
    height: auto;
    top: 20%;
    padding: 15px;
    border-radius: 20px;
    border: 3px rgb(24, 24, 24) solid;
}

#texto{
    position: relative;
    background-color: rgba(54, 52, 52, 0.527);
    color: white;
    height: 50px;
    max-height: 100px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 2em;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 232px;
}

.botones{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding-top: 1em;
    color: rgba(255, 255, 255, 0.877);
    transition: 0.50s;
}

.botones:hover{
    background-color: hsla(0, 2%, 18%, 0.541);
    box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.247);
    transition: 0.50s;
    transform: scale(1.3);
    color: white;
}

.container_num_0 span:nth-child(3),
.container_num_1 span:nth-child(4),
.container_num_2 span:nth-child(4),
.container_num_3 span:nth-child(4),
.container_num_4 span:nth-child(3){
    background-color: rgba(0, 6, 65, 0.788);
    color: black;
}
.container_num_0 span:nth-child(4):hover,
.container_num_1 span:nth-child(4):hover,
.container_num_2 span:nth-child(4):hover,
.container_num_3 span:nth-child(4):hover,
.container_num_4 span:nth-child(3):hover{
    background-color: rgb(250, 250, 250) ;
}

.container_num_0 span:nth-child(1),
.container_num_0 span:nth-child(2){
    background-color: rgb(43, 42, 42);
}

.container_num_0 span:nth-child(1):hover,
.container_num_0 span:nth-child(2):hover,
.container_num_0 span:nth-child(3):hover{
    background-color:rgb(255, 255, 255) ;
}

.container_num_0{
  display: flex;
  justify-content: space-between;
}

.container_num_0 span:nth-child(1){
  width: 6.5em;
}

.container_num_4{
    display: flex;
    justify-content: space-between;
}

.container_num_4 span:nth-child(1){
    width: 6.5em;
}


